/* base styles */

* {
    box-sizing: border-box;
}

body {
    background-color: #00bcd473;
}


/* style for header 1 */

h1 {
    text-align: center;
    /* use this to set the algnment of text */
}


/* styled element: div, the container for each section */

div.container {
    /* width: 100%; */
    /* height: 350px; */
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}


/* define a row class */

.row {
    width: 100%;
    /* a row takes 100% of the space in the entire span of the browser*/
    /* give some space after the row */
    margin-bottom: 2em;
    flex-wrap: wrap;
}


/* styled element p, whose content is the text */

p.styled {
    position: relative;
    text-align: justify;
    color: cornsilk;
    font-family: 'Ubuntu', sans-serif;
    /* give some margine on the left and right, auto margin will center the element */
    width: 95%;
    /* add top padding to give some space between title and text */
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    float: both;
}


/* common styles for the title section */

.sec-title {
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    font-family: 'Do Hyeon', sans-serif;
    /* place the title on top right, require its container's position set to relative */
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 24px;
}


/* special styles for each title section */


/* id: potato */

#potato {
    background-color: yellow;
}


/* id tomato */

#tomato {
    background-color: red;
}


/* id banana */

#banana {
    background-color: pink;
}


/* the style for the div containing the title and text */

.sec-text {
    background-color: grey;
    border: 1px solid black;
    position: relative;
    /* inherit means the height is correspondign to the height of its container */
    height: inherit;
    overflow: auto;
    margin-left: 10px;
    margin-right: 10px;
}