/* base styles */
* {
    box-sizing: border-box;

}

/* style for element: section */
section{
    color: blue;
    width: 30%;
    height: 100px;
    background-color: cornsilk;
}

/* style for header 1 */
h1{
    text-align: center; /* use this to set the algnment of text */
}

/* styled element: div */
div.styled{
    background-color: gray;
    /* width: 100%; */
    height: 300px;
    margin-top: 10px;
    /* margin-right: 20px; */
    margin-bottom: 10px;
    padding: 5px;
    border: 5px solid white;
    position: relative;
    overflow: auto;

}

/* define a row class */
.row{
    width: 100%;  /* a row takes 100% of the space */
}

/* class content */
.content{
    background-color: gray;
    color: hotpink;
    text-align: justify;
}

/* element p */
p.styled{
    position: relative;
    /* background-color: gray; */
    /* border: 10px solid white; */
    /* height: 100px; */
    text-align: justify;
    color: cornsilk;

}

/* id: potato */
#potato{
    background-color: yellow;
    /* float: right;   this will not algined to the top */
    /* width: 30px;
    height: 20px; */
    position: absolute;
    top: 0px;
    right: 0px;

}

/* id tomato */
#tomato{
    background-color: red;
    /* width: 30px;
    height: 20px; */
    position: absolute;
    right: 0px;
    top: 0px;
    
}

#banana{
    background-color: pink;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* a small sized rectangular, common style for tag p*/
.srec{
    width: 80px;
    height: 20px;
    
    text-align: center;
}